<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="#">Brand Name</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success ml-2">Login</button>
      <button class="btn btn-outline-primary ml-2">Sign Up</button>
    </form>
  </div>
</nav> -->

<nav class="navbar navbar-expand-xl navbar-dark navbar-togglable bg-white  fixed-top px-5 " id="navbar">
  <div class="container navContainer" id="navContainer">
    <a class="navbar-brand text-dark" href="/">Brand Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item-divider px-1">
          <span class="text-dark">|</span>
        </li>
        <li class="nav-item px-2">
          <span class="text-dark">
              <i class="fab fa-twitter"></i>
          </span>
        </li>
        <li class="nav-item px-2">
          <span class="text-dark">
              <i class="fab fa-instagram"></i>
          </span>
        </li>
      </ul>

      <!-- Redirections Start  -->

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="py-2 d-none d-md-inline-block text-decoration-none text-dark" href="#">Product</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="py-2 d-none d-md-inline-block text-decoration-none text-dark" href="#">Features</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="py-2 d-none d-md-inline-block text-decoration-none text-dark" href="#">Support</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="py-2 d-none d-md-inline-block text-decoration-none text-dark" href="#">Pricing</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="py-2 d-none d-md-inline-block text-decoration-none text-dark" href="#">Cart <i class=" ml-3 fas fa-shopping-cart"></i></a>
        </li>
      </ul>
    </div>

  </div>
</nav>