<!DOCTYPE html>
<html lang="en">

<% include common-components/header.ejs %>
<style>
  .card-text {
    height: 100px !important;
  }
</style>

<body>
  <% include common-components/navbar.ejs %>

  <!-- Carousal Begins  -->
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/random/501x600" class="d-block w-100" alt="Random Image 1" />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/502x600" class="d-block w-100" alt="Random Image 2" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/503x600" class="d-block w-100" alt="Random Image 3" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousal End -->

  <!-- section 1 Start-->
  <div class="container1" id="cardBackground">
    <!--section 1 End -->
    <!-- cards section start -->
    <section>
      <div class="row p-5">
        <div class="col">
          <div class="card-deck">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <img src="https://source.unsplash.com/random/504x600" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Breakfast 1 Title</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae excepturi deserunt temporibus consequuntur beatae
                  fugiat vel qui quod consequatur sint?
                </p>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn orderBtn" data-toggle="modal"
                      data-target=".bd-example-modal-lg">View
                      Details</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn orderBtn">Add To Cart</button>
                  </div>
                </div>

              </div>

            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <img src="https://source.unsplash.com/random/506x600" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Breakfast 2 Title</h5>
                <p class="card-text">
                  This card has supporting text below as a natural lead-in to
                  additional content.
                </p>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn orderBtn" data-toggle="modal"
                      data-target=".bd-example-modal-lg">View
                      Details</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn orderBtn">Add To Cart</button>
                  </div>
                </div>
              </div>

            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <img src="https://source.unsplash.com/random/505x600" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Breakfast 3 Title</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Totam minus quaerat sequi quos corporis? Aut consequatur
                  doloribus corrupti numquam? Maiores.
                </p>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn orderBtn" data-toggle="modal"
                      data-target=".bd-example-modal-lg">View
                      Details</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn orderBtn">Add To Cart</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="row" style="padding: 0px 200px !important;">
        <div class="col">
          <div class="card shadow p-3 mb-5 bg-white rounded">
            <img src="https://source.unsplash.com/random/505x604" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Breakfast 4 Title</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita ad nemo magni dicta suscipit? Veritatis ipsum
                placeat ex ullam id!
              </p>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn orderBtn" data-toggle="modal" data-target=".bd-example-modal-lg">View
                    Details</button>
                </div>
                <div class="col">
                  <button type="button" class="btn orderBtn">Add To Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow p-3 mb-5 bg-white rounded">
            <img src="https://source.unsplash.com/random/505x604" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Breakfast 4 Title</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita ad nemo magni dicta suscipit? Veritatis ipsum
                placeat ex ullam id!
              </p>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn orderBtn" data-toggle="modal" data-target=".bd-example-modal-lg">View
                    Details</button>
                </div>
                <div class="col">
                  <button type="button" class="btn orderBtn">Add To Cart</button>
                </div>
              </div>


            </div>

          </div>
        </div>

      </div>
    </section>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Breakfast Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequatur incidunt quidem, dolore ratione,
            dolorum maiores, soluta in corporis molestias quasi. Tempora obcaecati velit similique, deleniti pariatur
            vel
            totam tempore aperiam officia, sunt perferendis porro distinctio. Vero, harum asperiores? Accusantium ab,
            iste
            numquam ad debitis corporis vitae. Accusamus eligendi, ipsa excepturi officia veritatis itaque, repellat nam
            obcaecati beatae corporis voluptatibus inventore consequatur a. Officia, obcaecati quia minus nostrum
            reprehenderit incidunt maxime autem natus, sequi est laudantium consequuntur deserunt, delectus tempore sit
            consectetur cum numquam ipsam nam. Dicta unde quibusdam enim, aliquam modi voluptatem illum sed, veniam
            laborum, quam eligendi dolorum!
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- cards section end   -->
  <% include common-components/footer.ejs %>
</body>

</html>