<!DOCTYPE <!DOCTYPE html>
<html>
<% include common-components/header.ejs %>

<body>
  <!-- --- layout: examples title: Product example extra_css: "product.css" --- -->


  <% include common-components/navbar.ejs %>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Punny headline</h1>
      <p class="lead font-weight-normal">
        And an even wittier subheading to boot. Jumpstart your marketing
        efforts with this example based on Apple’s marketing pages.
      </p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  <!-- Section 1 for Breakfast and Lunch -->
  <div class="w-100 d-flex flex-row px-3">

    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-50">
      <a href="/breakfast">
        <div class="my-3 p-3">
          <h2 class="display-5">Breakfast Section (Headline)</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
      </a>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>

    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden w-50">
      <div class="my-3 py-3">
        <h2 class="display-5">Lunch Section (Headline)</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  <!-- section 2 for Dinner and Customer Food Items -->
  <div class="w-100 d-flex flex-row p-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden w-50">
      <div class="my-3 py-3">
        <h2 class="display-5">Dinner Section (Headline)</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-50">
      <div class="my-3 p-3">
        <h2 class="display-5">Customization (Headline)</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <!-- Testimonial Section start -->
  <section>
    <div class="row px-3">
      <div class="col-md-7 offset-lg-3">
        <h1 id="testimonialsHeading">
          <i>What Our Customers Think About Us...</i>
        </h1>
      </div>
    </div>

    <div class="row py-2">
      <div class="col-md-9 offset-lg-2">
        <div class="card-columns">
          <div class="card">
            <img src="https://source.unsplash.com/random/505x603" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title that wraps to a new line</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
          <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer posuere erat a ante.
              </p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                  Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>
          <div class="card">
            <img src="https://source.unsplash.com/random/505x602" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
              <p class="card-text">
                <small class="text-muted">Customer Name</small>
              </p>
            </div>
          </div>
          <div class="card bg-primary text-white text-center p-3">
            <blockquote class="blockquote mb-0">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer posuere erat.
              </p>
              <footer class="blockquote-footer text-white">
                <small>
                  Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This card has a regular title and short paragraphy of text
                below it.
              </p>
              <p class="card-text">
                <small class="text-muted">Customer Name in Cite</small>
              </p>
            </div>
          </div>
          <div class="card">
            <img src="https://source.unsplash.com/random/505x601" class="card-img-top" alt="..." />
          </div>
          <div class="card p-3 text-right">
            <blockquote class="blockquote mb-0">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer posuere erat a ante.
              </p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                  Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </small>
              </footer>
            </blockquote>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is another card with title and supporting text below.
                This card has some additional content to make it slightly
                taller overall.
              </p>
              <p class="card-text">
                <small class="text-muted">Customer Name</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial Section End  -->
  <% include common-components/footer.ejs %>
</body>

</html>