<!DOCTYPE html>
<html lang="en">
<% include common-components/header.ejs %>
<style>
  .bg-cover .container {
    position: absolute;
    top: 30%;
    left: 8%;
  }
</style>

<body>
  <% include common-components/navbar.ejs %>
  <div class="full-width-image bg-cover">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-8">
          <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted animate">- Simple Quote
          </p>
          <h1 class="text-center text-white mb-4 animate">Where Tastes Meets Myth</h1>
          <P class="text-center text-white text-muted mb-5 animate">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Impedit fuga asperiores molestiae, eius esse possimus est optio officiis delectus eos.</p>
          <p class="text-center">
            <a href="#" class="btn orderBtn text-white">View More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="section py-5" id="section1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col md-6 lg-5 offset-lg-1">
          <div class="img-effect img-effect-solid mb-5 mb-md-0">
            <img src="https://source.unsplash.com/random/800x600" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col md-6 lg-4 offset-lg-1">
          <h2 class="mb-4">
            High Quality Ingredients for great taste
          </h2>
          <p class="text-muted mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia repellendus optio minima numquam corrupti
            veniam nesciunt voluptatem odio alias fuga.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- section 3 start -->
  <section class="section bg-light py-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <h2 class="mb-4 text-center">Our Categories</h2>
          <p class="mb-5 text-center text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, labore.
          </p>
        </div>
      </div>
      <!-- <div class="col-12 col-md-8"> -->
      <div class="row d-flex justify-content-between">
        <div class="card card-sm border-0 mb-3 mb-md-0 col">
          <img src="https://source.unsplash.com/random/800x601" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">
              Breakfast
            </h5>
            <div class="card-text">
              <div class="cardTextHeight">

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, assumenda?
              </div>
              <div class="row">
                <div class="col mt-5">
                  <a href="/breakfast" class="btn orderBtn">Order Now</a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card card-sm border-0 mb-3 mb-md-0 col">
          <img src="https://source.unsplash.com/random/800x603" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">
              Lunch
            </h5>
            <div class="card-text">
              <div class="cardTextHeight">

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, assumenda?
              </div>
              <div class="row">
                <div class="col  mt-5">
                  <a href="/lunch" class="btn orderBtn">Order Now</a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card card-sm border-0 mb-3 mb-md-0 col">
          <img src="https://source.unsplash.com/random/800x602" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">
              Dinner
            </h5>
            <div class="card-text">
              <div class="cardTextHeight">

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, assumenda?
              </div>
              <div class="row">
                <div class="col  mt-5">
                  <a href="/dinner" class="btn orderBtn">Order Now</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
    </div>
  </section>
  <!-- section 3 End -->

  <!-- section 4 Testimonials -->

  <section class="section py-3" id="testimonials">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <h2 class="text-center mb-4">

            Client testimonials

          </h2>
          <p class="text-center text-muted mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, maxime?
          </p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-10 offset-lg-1">
          <div class="card-columns">
            <div class="card">
              <!-- <img src="https://source.unsplash.com/random/505x603" class="card-img-top" alt="..." /> -->
              <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
            <div class="card p-3">
              <blockquote class="blockquote mb-0 card-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer posuere erat a ante.
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <!-- <img src="https://source.unsplash.com/random/505x602" class="card-img-top" alt="..." /> -->
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This card has supporting text below as a natural lead-in to
                  additional content.
                </p>
                <p class="card-text">
                  <small class="text-muted">Customer Name</small>
                </p>
              </div>
            </div>
            <div class="card bg-primary text-center p-3">
              <blockquote class="blockquote mb-0">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer posuere erat.
                </p>
                <footer class="blockquote-footer text-muted">
                  <small>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This card has a regular title and short paragraphy of text
                  below it.
                </p>
                <p class="card-text">
                  <small class="text-muted">Customer Name in Cite</small>
                </p>
              </div>
            </div>
            <div class="card p-3 text-right">
              <blockquote class="blockquote mb-0">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer posuere erat a ante.
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is another card with title and supporting text below.
                  This card has some additional content to make it slightly
                  taller overall.
                </p>
                <p class="card-text">
                  <small class="text-muted">Customer Name</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% include common-components/footer.ejs %>
</body>

</html>