<!DOCTYPE html>
<html lang="en">

<% include common-components/header.ejs %>
<style>
    a {
        color: #f5ba4b;
        text-decoration: none;
        background-color: transparent;
    }

    .nav .nav-link {
        position: relative;
        padding: .75rem 1.5rem;
        text-transform: uppercase;
        color: #212529;
    }

    .nav-link.active {
        background-color: transparent !important;
        border-bottom: #f5ba4b 2px solid;
        color: #000 !important;
    }
</style>

<body>
    <% include common-components/navbar.ejs %>

    <!-- Carousal Begins  -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/random/501x600" class="d-block w-100" alt="Random Image 1" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/random/502x600" class="d-block w-100" alt="Random Image 2" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/random/503x600" class="d-block w-100" alt="Random Image 3" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Carousal End -->

    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <h2 class="mb-4 text-center">
                    Our Lunch Menu
                </h2>
                <p class="mb-5 text-center text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
                    voluptatibus laborum laboriosam iure neque amet deleniti tenetur rerum, in porro?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-starter"
                            role="tab" aria-controls="pills-starter" aria-selected="true">Starter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-main-course"
                            role="tab" aria-controls="pills-main-course" aria-selected="false">Main Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-desert" role="tab"
                            aria-controls="pills-desert" aria-selected="false">Dessert</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-starter" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x100" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x102" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2 mb-5">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x101" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr class="d-md-none">
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x109" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x106" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2 mb-5">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x104" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr class="d-md-none">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-main-course" role="tabpanel"
                        aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x100" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x102" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2 mb-5">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x101" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr class="d-md-none">
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x109" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x106" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2 mb-5">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x104" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr class="d-md-none">
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-desert" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x100" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x102" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2 mb-5">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x101" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr class="d-md-none">
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x109" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x106" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center p-2 mb-5">
                                    <div class="col-4 col-lg-3">
                                        <div class="img-square">
                                            <img src="https://source.unsplash.com/random/100x104" alt=""
                                                class="img-cover">
                                        </div>
                                    </div>
                                    <div class="col ml-n4">
                                        <h5>Lorem, ipsum.</h5>
                                        <p class="mb-0 text-sm text-muted">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur!
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0">
                                            &#x20b9; 100
                                        </h5>
                                    </div>
                                </div>
                                <hr class="d-md-none">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- cards section end   -->
    <% include common-components/footer.ejs %>
</body>

</html>