html {
    overflow-x: hidden !important;
    font-family: 'Lato' !important;
}

:root {
    --default-color: #ffc107;
    font-family: 'Lato' !important;
}

.btn {
    border-radius: 0px !important;
}

.full-width-image {
    /* height: 100vh;
    background: url("https://source.unsplash.com/random/505x603") no-repeat center center fixed;
    background-size: cover; */

    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/landing-page-header-image.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.carousel-item {
    height: 60vh;
}

.carousel-item img {
    height: 60vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

#navbar {
    height: 70px;
}

#navbar .navContainer {
    border-bottom: 1px #eeeeee solid;
}

#navbar a {
    padding: 15px 0px !important;
    color: #fff;
}


#navbar .text-white:hover {
    color: var(--default-color) !important;
    transition: ease-in;
    color: #fff;
    padding: 15px 0px !important;
}

#navbar .text-dark:hover {
    color: var(--default-color) !important;
    transition: ease-in;
    color: #000;
}

#cardBackground {
    background-color: #eeeeee;
}

#testimonialsHeading {
    font-size: 45px;
}

/* section 2 styling start */
#section1 {
    position: relative;
}

.cardTextHeight {
    height: 30px;
}

.card {
    background-color: #f8f9fa !important;
}

.orderBtn {
    border: 1px var(--default-color) solid;
    color: var(--default-color);
}

.orderBtn:hover {
    background-color: var(--default-color) !important;
    color: #fff !important;
}

#testimonials .card {
    border: 1px solid var(--default-color);
    background-color: #fff !important;
}

/* .img-effect-solid:before {
    content: "";
    position: absolute;
    top: 35%;
    bottom: 10%;
    left: 0;
    right: 0;
    background-color: #f7c86f;
} */